canvas{
    border: 0;
}

body{
    margin: 0;
    background-color: #111;
}

menu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    color: #eee;
    font-size: 3em;
    padding-left: 6.5em;
    margin-top: 0%;
}

canvas{
    position: fixed;
}